doctype html
html(lang='hu')
	head
		meta(charset='utf-8')
		link(type='text/css', rel='stylesheet', href='/styles/site.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block head
	body
		block header
		block body
		block footer
